.home {
	width: 100%;
	height: 32rem;
	background-color: white;
}

.home-sides {
	display: flex;
	gap: 3rem;
}

.home-left {
	flex: 1;
	margin-top: 7rem;
	padding-left: 10%;
}

.home-left-text {
	display: flex;
	flex-direction: column;
	padding-top: 3rem;
}

.home-left-text > :nth-child(1) {
	font-size: 3.3rem;
	font-weight: bold;
	color: #80b3ff;
}

.home-left-text > :nth-child(2) {
	font-size: 1rem;
	color: black;
	padding: 2rem 0;
}

.btn {
	background: #3261a8;
	width: 15rem;
	height: 5rem;
	border: none;
	border-radius: 20px;
}

.btn a {
	text-decoration: none;
	color: #80b3ff;
	font-size: 2rem;
	font-weight: bold;
}

.home-right {
	flex: 1;
	margin-top: 7rem;
	padding-right: 10%;
}

.home-right img {
	width: 30rem;
	height: 22rem;
}

@media screen and (min-width: 320px) and (max-width: 481px) {
	.home-sides {
		flex-direction: column;
	}
	.home-left {
		margin-top: 0;
	}
	.home-right {
		margin-top: 0;
	}
	.home-right img {
		width: 18rem;
		height: 13rem;
		padding-left: 3rem;
	}
	.home-left-text {
		padding-top: 1rem;
	}
	.home-left-text > :nth-child(1) {
		font-size: 1.8rem;
	}
	.home-left-text > :nth-child(2) {
		font-size: 0.9rem;
	}
	.btn {
		width: 10rem;
		height: 4rem;
	}
	.btn a {
		font-size: 1rem;
	}
}

@media screen and (min-width: 481px) and (max-width: 968px) {
	.home-left {
		padding-left: 3%;
	}
	.home-right img {
		width: 20rem;
		height: 22rem;
	}
}
